<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/footer.css">
</head>

<body>
    <footer>
        <main>
            <div class="logo"><img src="https://www.starbucks.in/assets/icon/logo.png" alt=""></div>
            <div class="about-section">
                <h3>About Us</h3>
                <a href="">Our Heritage</a>
                <a href="">Our Company</a>
                <a href="">Coffeehouse</a>
            </div>
            <div class="response">
                <h3>Responsibility</h3>
                <a href="">Community</a>
                <a href="">Ethical Sourcing</a>
                <a href="">Environment</a>
                <a href="">Diversity</a>
            </div>
            <div class="quick-link">
                <h3>Quick Links</h3>
                <a href="">Delivery</a>
                <a href="">Season's Gifting</a>
                <a href="">Careers</a>
                <a href="">Customer Service</a>
                <a href="">FAQs</a>
                <a href="">Privacy Policy</a>
            </div>
            <div class="social-media">
                <h3>SOCIAL-MEDIA</h3>
                <img src="https://www.starbucks.in/assets/icon/instagram.svg" alt="">
                <img src="https://www.starbucks.in/assets/icon/facebook.svg" alt="">
                <img src="https://www.starbucks.in/assets/icon/twitter.svg" alt="">
            </div>
            <div class="dowload-from">
                <img src="https://www.starbucks.in/assets/images/appstoreiOS.png" alt="">
                <img src="https://www.starbucks.in/assets/images/appstoreAndroid.png" alt="">
            </div>
        </main>
        <div class="copyright-section">
            <hr>
            <div class="mains">
                <div class="row-nav">
                    <a href="">Web Accessiblity</a>|
                    <a href="">Privacy Statement</a>|
                    <a href="">Terms of Use</a>|
                    <a href="">Contact Us</a>
                </div>
                <div class="copyright">
                    <span>© 2023 Starbucks Coffee Company. All rights reserved.</span>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>