<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Register</title>
    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&family=Poppins&display=swap"
        rel="stylesheet" />
    <link rel="shortcut icon"
        href="https://freepngimg.com/download/tea/75295-tea-coffee-cafe-starbucks-logo-png-file-hd.png"
        type="image/x-icon">
    <link rel="stylesheet" href="css/style.css">
</head>

<body>

    <div class="special_welcome_page"><img src="http://localhost:4000/images/product/three.png" alt=""><span>Welcome
            to Starbucks a place where coffee becomes an experience,
            and each sip tells a story. We are more than just a coffee shop;
            we're a community of coffee enthusiasts who believe in the power of
            a great cup to brighten your day. </span><img class="btn-chck" onclick="redirecthome()"
            src="https://www.starbucks.in/assets/icon/arrow_down.svg" alt=""><img class="lastimg"
            src="https://www.starbucks.in/assets/images/splash_image.png" alt=""></div>
    <div class="container">
        {{>navbar}}
        <div class="login-page">
            <div class="welcome_page">
                <img src="https://www.starbucks.in/assets/images/profileDP.svg" alt="">
                <h2>Welcome to Starbucks
                </h2>
                <button id="loginbtn"><a>Login or SignUp</a></button>
            </div>
            <div class="login-form">
                <form method="post" action="/login">
                    <span class="skip" onclick="opensome()">SKIP</span>
                    <h3>Login</h3>
                    <label>USERname</label><br>
                    <input type="text" name="username" placeholder="Enter Email ID or Mobile Number">
                    <br>
                    <label>PAssword</label><br>
                    <input type="password" name="userpassword" placeholder="Enter Password">
                    <br>
                    <span class="DA">Don't have an account ? <strong onclick="red()" href="">Sign Up</strong></span>
                    <br>
                    <button class="btn">Login</button>
                    <br>
                </form>
            </div>
        </div>
    </div>
</body>
<script>
    const login_page = document.querySelector(".login-form");
    const loginbtn = document.getElementById("loginbtn");
    const register = document.querySelector('register');
    const specialpage = document.querySelector('.special_welcome_page');
    loginbtn.addEventListener("click", () => {
        login_page.style.display = "grid"
    })
    const opensome = () => {
        specialpage.style.display = "grid";
        document.getElementsByTagName('title')[0].innerHTML = "Welcome";
    }
    function redirecthome() {
        window.location.href = "/";
    }
    function red() {
        window.location.href = "/register";

    }
</script>

</html>