<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/style.css">

    <link rel="stylesheet" href="css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Pacifico&family=Poppins&display=swap"
        rel="stylesheet" />
    <link rel="shortcut icon"
        href="https://freepngimg.com/download/tea/75295-tea-coffee-cafe-starbucks-logo-png-file-hd.png"
        type="image/x-icon">
    <title>Latest Offering</title>
</head>

<body>
    <div class="container">
        {{>navbar}}
        <div class="menu-section">
            <h1>Latest Offering</h1>
            <div class="list">
                <div class="menu-card">
                    <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/104014.webp" alt="">
                    <br>
                    <div class="card-details">
                        <span><img src="https://www.starbucks.in/assets/icon/veg.svg" alt=""></span>
                        <strong>new
                            launch</strong>
                        <br>
                        <div class="short">SHORT(Short Mocha Cookie Crumble) .</div>
                        <h4>Mocha Cookie Crumble Latte</h4>
                        <p>Our Mocha Cookie crumble Latte is a deliciously flavoured mocha indulgence - Hot coffee meets
                            chocolate and co ...</p>
                        <div class="price-section">
                            <p>₹ 414.75
                            </p>
                            <button>Add Item</button>
                        </div>
                    </div>
                </div>
                <div class="menu-card">
                    <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/104008.webp" alt="">
                    <br>
                    <div class="card-details">
                        <span><img src="https://www.starbucks.in/assets/icon/veg.svg" alt=""></span>
                        <strong>new
                            launch</strong>
                        <br>
                        <div class="short">
                            TALL(Tall Mocha Cookie Crumble Frappuccino) .</div>
                        <h4>Mocha Cookie Crumble Frappuccino</h4>
                        <p>
                            A perfect blend of coffee, vanilla flavour, milk and cocoa powder. Finished with delicious
                            chocolate whipped c ...
                        </p>
                        <div class="price-section">
                            <p>₹ 483.00
                            </p>
                            <button>Add Item</button>
                        </div>
                    </div>
                </div>
                <div class="menu-card">
                    <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/104018.webp" alt="">
                    <br>
                    <div class="card-details">
                        <span><img src="https://www.starbucks.in/assets/icon/veg.svg" alt=""></span>
                        <strong>new
                            launch</strong>
                        <br>
                        <div class="short">TALL(Iced Tall Mocha Cookie Crumble) .
                        </div>
                        <h4>Iced Mocha Cookie Crumble</h4>
                        <p>A mix of cocoa powder, Vanilla flavour and espresso shot served on milk and ice, topped with
                            delicious chocola ...</p>
                        <div class="price-section">
                            <p>₹ 446.25
                            </p>
                            <button>Add Item</button>
                        </div>
                    </div>
                </div>
                <div class="menu-card">
                    <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/114038.webp" alt="">
                    <br>
                    <div class="card-details">
                        <span><img src="https://www.starbucks.in/assets/icon/veg.svg" alt=""></span>
                        <strong>new
                            launch</strong>
                        <br>
                        <div class="short">TALL(Tall Strawberry Acai Lemonade) .
                        </div>
                        <h4>Strawberry Acai Lemonade Refresher</h4>
                        <p>Sweet strawberry flavours accented by açaí notes, shaken with ice and strawberry pieces — a
                            welcoming sweet sp ...
                        </p>
                        <div class="price-section">
                            <p>₹ 346.50
                            </p>
                            <button>Add Item</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="new-section">
            <div class="haed">
                <h1>Barista Recommends</h1>
                <span>View Menu</span>
            </div>
            <br>
            <div class="new-list">
                <div class="barista-menu">
                    <div class="space">
                        <div class="img-space">
                            <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/112595.webp"
                                alt="">
                        </div>
                        <div class="space-details">
                            <img src="https://www.starbucks.in/assets/icon/veg.svg" alt="">
                            <h3>Hazelnut Triangle</h3>
                            <p>PER SERVE (50 g) - 302 Kcal</p>
                        </div>
                    </div>
                    <div class="price-section">
                        <p>₹ 346.50
                        </p>
                        <button>Add Item</button>
                    </div>
                </div>
                <div class="barista-menu">
                    <div class="space">
                        <div class="img-space">
                            <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/112601.webp"
                                alt="">
                        </div>
                        <div class="space-details">
                            <img src="https://www.starbucks.in/assets/icon/nonveg.svg" alt="">
                            <h3>Bhuna Chicken Puff
                            </h3>
                            <p>PER SERVE (85 g) - 390 Kcal
                            </p>
                        </div>
                    </div>
                    <div class="price-section">
                        <p>₹194.25

                        </p>
                        <button>Add Item</button>
                    </div>
                </div>
                <div class="barista-menu">
                    <div class="space">
                        <div class="img-space">
                            <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/113008.webp"
                                alt="">
                        </div>
                        <div class="space-details">
                            <img src="https://www.starbucks.in/assets/icon/veg.svg" alt="">
                            <h3>Chocolate Brownie Cupcake
                            </h3>
                            <p>PER SERVE (80 g) - 416kcal
                            </p>
                        </div>
                    </div>
                    <div class="price-section">
                        <p>
                            ₹ 288.75
                        </p>
                        <button>Add Item</button>
                    </div>
                </div>
                <div class="barista-menu">
                    <div class="space">
                        <div class="img-space">
                            <img src="https://starbucks-cdn-01.s3.ap-south-1.amazonaws.com/Items/Large/webP/112737.webp"
                                alt="">
                        </div>
                        <div class="space-details">
                            <img src="https://www.starbucks.in/assets/icon/veg.svg" alt="">
                            <h3>Three Dip Nachos</h3>
                            <p>PER SERVE (180 g) - 513 Kcal</p>
                        </div>
                    </div>
                    <div class="price-section">
                        <p>₹ 262.50
                        </p>
                        <button>Add Item</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="menu-more-section">
            <div class="image-box">
                <div class="haed">
                    <h1>Learn more about the world of coffee!</h1>
                    <span>Discover More</span>
                </div>
                <div class="main-image">
                    <div class="about-coffe">
                        <h1>Coffee world
                            Coffee – Origin Story : Mystic, Intriguing And Aromatic
                        </h1>
                        <p>
                            Many centuries ago, somewhere between 800-900 AD the story of coffee first took roots in
                            Ethiopia.
                        </p>
                        <br>
                        <button>Learn More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>

</html>